*{
    margin: 0%;
    padding: 0%;
}
body{
    height:100vh;
    background: #161513;
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
}
.underline{
    position: relative;
    bottom: 0;
    right: 0;
    height: 15x;
    width: 85px;
    object-fit: cover;
    mix-blend-mode:color-dodge;
    mix-blend-mode: screen;
    background: none;
    border-radius: 4px;
    z-index:12;
}
 .logo-img{
    height: 100px;
    width: 100px; 
    border: 1px solid white;
    border-radius: 50%;
    object-fit: contain;
    image-rendering:crisp-edges;
    cursor: pointer;
}
.navbar{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}
 .nav-menu{
/*  position: fixed;
    top: 0;
    left: 0;
    background:#161513;
    width: 50%;
    color: #fff;
    text-align: center;
    padding: 7px 600px;
    z-index: 1000;
    box-shadow: 0 2px 5px; */
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}
.nav-connect{
    padding: 20px 30px;
    border-radius: 50px;
    background: linear-gradient(200deg,#da7c25 0.36%,#b923e1 108.06%,red 0.77%);
    font-size: 20px;
    cursor: pointer;
    transition: .5s;
}
.nav-connect:hover{
    transform: scale(1.09);
    filter: drop-shadow(1px 1px 20px #fff );
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.nav-menu li img{
    display: flex;
    margin: auto;
}
.anchor-link{
    text-decoration: none;
    color: #fff;
    
}

.nav-mob-open{
    height: 50px;
    width: 50px;
    object-fit: contain;
    mix-blend-mode:screen;       /*it remove the background-color: ;*/  
    display: none;
}
.nav-mob-open:hover{
    height: 50px;
     width: 50px;
    /*cursor: pointer;
    filter: drop-shadow(1px 1px 20px #fff ); */
    object-fit: contain;
    mix-blend-mode:screen;       /*it remove the background-color: ;*/  
    display: none;
}
.nav-mob-close{
    height: 20px;
    width: 20px;
    mix-blend-mode: screen;
    display: none;
}

@media (max-width:768px) {
    .navbar{
        margin: 20px 50px;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;
        filter: drop-shadow(1px 1px 20px #fff );
    }
    .nav-mob-close{
        display: block;
        filter: drop-shadow(1px 1px 20px #fff );
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1f0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-menu li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}